@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --mesenger-gray: #e4e6eb;
  --mesenger-blue: #0084ff;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  padding: 0px;
}
.active {
  background-color: var(--mesenger-gray);
}
