.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .auth-wrapper {
    width: 700px;
    height: 70vh;
    border: 1px solid #eceaea;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .auth-top {
      display: flex;

      flex-direction: column;
      align-items: center;

      .auth-form {
        padding-top: 15px;
        width: 350px;
        height: auto;
        display: flex;
        gap: 10px;
        flex-direction: column;

        form {
          display: flex;
          gap: 10px;
          flex-direction: column;

          input,
          button {
            padding: 9px;
            border: none;
            outline: none;
            background-color: #efeeee;
            border-radius: 6px;
            cursor: pointer;
          }
        }
      }
      img {
        width: 60px;
        height: auto;
        padding-bottom: 8px;
      }
    }

    .auth-bottom {
      display: flex;
      flex-direction: column;
      gap: 7px;
      align-items: center;
      text-align: center;

      a {
        width: 400px;
        background-color: #efeeee;
        padding: 10px;
        border-radius: 6px;
      }
    }
  }
}
