.messenger-container {
  display: flex;
  width: 100%;
  height: 90vh;

  .messenger-user {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px 0px 0px 20px;
    border-right: 1px solid #e5e5e5;

    .user-header {
      padding-right: 15px;
      .user-header-top {
        display: flex;
        justify-content: space-between;

        .user-button {
          display: flex;
          gap: 10px;
          button {
            border: none;
            width: 20px;
            height: 20px;
            font-size: 20px;
            border-radius: 50%;
            line-height: 20px;
            padding: 7px;
            box-sizing: content-box;
            background-color: var(--mesenger-gray);
            cursor: pointer;
          }
        }
      }
      .search {
        position: relative;
        margin-top: 10px;
        svg {
          font-size: 23px;
          position: absolute;
          top: 7px;
          left: 7px;
        }
        input {
          width: 100%;
          background-color: #f0f2f5;
          padding: 8px 35px;
          border: none;
          border-radius: 15px;

          &:focus {
            outline: none;
          }
        }
      }
      .inbox {
        margin-top: 15px;
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        span {
          background-color: #ebf5ff;
          color: #0064d1;
          font-size: 14px;
          border-radius: 40px;
          padding: 8px 15px;
          font-weight: 600;
        }
        h5 {
          font-weight: 500;
        }
      }
    }
    .messenger-user-list {
      overflow: auto;
      height: 80vh;
      .messenger-user-listinfo {
        display: flex;
        align-items: center;
        gap: 18px;
        padding: 10px 0px;

        .user-photo {
          span.chakra-avatar.css-1ruhx4w {
            background-color: var(--mesenger-gray);
            display: block;
            padding: 12px;
            border-radius: 10px;
            font-size: 15px;
          }
          img {
            width: 50px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .user-info {
          h5 {
            margin-bottom: -7px;
            font-size: 14px;
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
  .messenger-user-body {
    flex: 4;

    border-right: 1px solid #e5e5e5;
    .chat-user-body-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 1px 1px 3px rgb(187, 187, 187);
      padding: 10px;
      .body-user-info {
        display: flex;
        align-items: center;
        gap: 12px;
        .user-img {
          img {
            width: 45px;
            height: auto;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .user-title {
          h4 {
            font-size: 16px;
            margin-bottom: -10px;
          }
          span {
            font-size: 10px;
            font-weight: 400;
          }
        }
      }
      .body-user-icon {
        span {
          color: #5e007e;
          font-size: 20px;
          margin-right: 12px;
          cursor: pointer;
        }
      }
    }
    .chat-user-msg {
      padding-top: 20px;
      overflow-y: auto;
      height: 80vh;
      .chat-user-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 75px;
          height: auto;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .user-main {
        .user-main-chat {
          display: flex;
          justify-content: space-between;
          padding: 15px 20px;

          .friend-msg {
            display: flex;
            align-items: center;
            width: 400px;
            height: auto;
            gap: 12px;

            .friend-img {
              align-self: flex-end;
              img {
                width: 30px;
                height: auto;
                border-radius: 50%;
                object-fit: cover;
              }
            }
            .friend-chat {
              background-color: var(--mesenger-gray);
              padding: 10px;
              border-radius: 12px;
            }
          }

          .my-msg {
            span {
              background-color: var(--mesenger-blue);
              color: #fff;
              padding: 10px;
              border-radius: 12px;
            }
          }
        }
      }
    }
    .chat-from-body {
      background-color: #ffffff;
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 10px 15px;

      .chat-from-icons {
        ul {
          display: flex;
          align-items: center;
          gap: 12px;
          li {
            cursor: pointer;
          }
        }
      }
      .input-body {
        width: 100%;
        position: relative;

        .emojii {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          border: none;
        }
        .emoji-picker {
          position: absolute;
          right: 15px;
          bottom: 42px;
        }

        input {
          width: 100%;
          border: none;
          background-color: var(--mesenger-gray);
          padding: 10px 16px;
          border-radius: 20px;

          &:focus {
            outline: none;
          }
        }
      }
      .react-icons {
        cursor: pointer;
      }
    }
  }
  .messenger-user-info {
    flex: 1;
    padding: 15px;

    .user-info-header {
      display: flex;
      flex-direction: column;
      align-items: center;

      .user-info-img {
        img {
          width: 75px;
          height: auto;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .user-info-title {
        text-align: center;

        h4 {
          font-size: 20px;
          margin-bottom: -10px;
        }

        span {
          font-size: 10px;
        }
      }
      .user-info-menu {
        ul {
          display: flex;
          gap: 12px;

          li {
            padding: 15px 8px;
            button {
              width: 30px;
              height: 30px;
              border: none;
              padding: 5px;
              line-height: 5px;
              border-radius: 50%;
              cursor: pointer;
              background-color: var(--mesenger-gray);
              box-sizing: content-box;
            }
            display: flex;
            flex-direction: column;

            span {
              font-size: 12px;
              text-align: center;
            }
          }
        }
      }
    }

    .user-colapsable {
      padding: 20px;

      .Collapsible {
        span {
          display: block;
          padding: 7px;
          cursor: pointer;
          font-weight: 600;
        }
      }
    }
  }
}
